/* Last updated: 28/09/2026 17:29 */
:root {
    /* rapids blue */
    --primary-color-transparent: rgba(21, 63, 124, 0.7);
    --primary-color: rgba(21, 63, 124, 1);
    --tertiary-color: #E39319;
    --tertiary-color-transparent: rgba(227, 147, 25, 0.9);
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --padding: 1rem;
    --heading-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
    --background-color: rgba(255,
            255,
            255, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

.hero h2 {
    text-align: center;
    background-color: var(--primary-color-transparent);
    color: var(--secondary-text-color);
    text-shadow: 0 0 10px var(--primary-text-color);
}

section h2 {
    background-color: var(--tertiary-color);
    padding: 8px;
    text-align: center;
}

nav,
section {
    margin: 16px;
}

header a {
    justify-self: center;
    padding: 8px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    font-weight: 600;
    grid-column: span 2/4;
}

header nav a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.socialmedia a {
    padding: 5px;
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0;
    width: 100%;
    padding: var(--padding);
    text-align: center;
    background-color: var(--primary-color-transparent);
    color: var(--secondary-text-color);
    text-shadow: 0 0 10px var(--primary-text-color);
}

.hero article {
    position: absolute;
    top: 285px;
    right: 80px;
    width: 80%;
    text-align: center;
    color: var(--primary-text-color);
}

.homehero h1 {
    padding: 2rem 0 2.5rem
}

.homehero h2 {
    background-color: transparent;
    font-size: large;
    padding: 10px 0;
}

.homehero article {
    top: 65px;
    padding: 10px 0;
}

#home-bottom {
    background-color: var(--primary-color)
}

#home-bottom h2 {
    width: 60%;
    right: 0px;
    position: absolute;
    top: 0;
    padding-top: 25px;
    text-align: center;
    color: var(--secondary-text-color);
    text-shadow: 0 0 10px var(--primary-text-color);
}

#home-bottom article {
    top: 80px;
    right: 0px;
    width: 60%;
    background-color: var(--secondary-text-color);
    padding: 15px 0;
}

#home-bottom img {
    display: inline-block;
    margin: 15px;
    width: 300px;
    height: auto;
}

#home-bottom button {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    margin-top: 20px;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
    margin: 8.5px 8px 0 0;
}

.hero p {
    background-color: var(--tertiary-color-transparent);
    padding: 24px;
    font-weight: 600;
}

.homehero p {
    background-color: transparent;
    color: var(--secondary-text-color);
    text-shadow: 0 0 10px var(--primary-text-color);
    font-size: large;
    font-weight: 500;
}

.head-split {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 8px;
    border-top: 3px solid var(--tertiary-color);
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 16px 0 16px 0;
}

.history-grid h2 {
    grid-row: 1;
    grid-column: span 3;
}

.history-grid img {
    max-width: 100%;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    align-self: stretch;
    border: 3px solid rgba(227, 147, 25, 0.3);
}

.three {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #eee;
    padding: 10px 10px 40px
}

#bg-split .one img {
    height: 200px;
}

#trip-split img {
    height: 200px;
}

.one {
    grid-column: 1;
    grid-row: 2;
    margin-top: 20px;
}

.two {
    grid-column: 3;
    grid-row: 2;
    margin-top: 20px;
}

.com-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: var(--padding);
}

.com-pictures figure {
    padding: 4px;
}

.pic img {
    height: 150px;
    width: 150px;
    border: 1px solid var(--primary-text-color);
    border-radius: 75px;
}

.pic figcaption,
.history-grid figcaption {
    text-align: center;
    font-weight: 600;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border-top: 3px solid var(--tertiary-color);
    margin-top: 30px;

}

footer p {
    grid-column: 2/5;
    justify-self: center;
}

footer nav {
    justify-self: center;
}

/*  */
/*  */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 16px 0 16px 0;
}

.contact-grid h2 {
    grid-row: 1;
    grid-column: span 2;
}

#index-divider {
    border-top: 2px solid var(--tertiary-color);
    margin-top: 15px;
}

form {
    width: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #fff;
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
}

button:hover {
    background-color: var(--tertiary-color);
    color: black;
    font-weight: 600;
}

label {
    text-align: left;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(0 0 0 / 0.5);
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.form-item {
    display: grid;
    align-items: center;
    margin: 5px 0;
}

.column2 {
    grid-template-columns: 1fr 3fr;
}

.form-item .label-legend {
    grid-column: 1;
    grid-row: span 3;
    text-align: left;
}

.form-item div {
    grid-column: 2;
    margin: 4px 0;
}

fieldset {
    border: 1px solid rgb(0 0 0 / 0);
}

#sub-check {
    display: flex;
    flex-direction: row-reverse;
    justify-self: flex-start;
    gap: 10px;
    padding: 10px 0;
}

.map {
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
    grid-column: 1;
    grid-row: 2;
}

.contact-grid p {
    grid-column: 1;
    grid-row: 2;
    text-align: justify;
}

.contact-top {
    background-color: var(--tertiary-color);
    padding: 15px 0;
}

.contact-top h1 {
    text-align: center;
    margin: 15px 0;
    border-bottom: 8px solid var(--primary-text-color);
    padding-bottom: 15px;
}

.contact-top p {
    text-align: center;
    font-weight: 600;
}

#trip-split figure {
    padding: 12px 0;
}

#trip-split p {
    text-align: justify;
}

#trip-split {
    margin: 0 15px;
}

.contact-top div p {
    text-align: center;
    padding: 2px 0;
    font-weight: 600;
}

.contact-bottom,
.history-grid h2,
table caption,
.call-to-action h3 {
    background-color: var(--tertiary-color);
    padding: 20px 2px 20px;
    text-align: center;
}

table caption,
.call-to-action p {
    font-weight: 600;
}

.call-to-action div,
.call-to-action p {
    padding: 10px 0;
    text-align: center;
}

.call-to-action button {
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: end;
    justify-self: end;
    justify-items: center;
}

table {
    justify-self: center;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
}

.contact-bottom h2 {
    border-bottom: 8px solid var(--primary-text-color);
    padding: 15px 0;
}

span {
    color: var(--primary-color);
    font-weight: 600;
}

th,
td {
    border: 1px solid rgb(150 150 150 / 1);
    padding: 10px 15px;
    text-align: center;

}

thead tr,
tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: small;
}

tbody tr {
    font-size: small;
}

/* main struggle */
table {
    border-collapse: collapse;
    border: 2px solid rgb(150 150 150 / 1);
    letter-spacing: 1px;
}

tr .col-1 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

td:hover,
th:hover {
    background-color: rgb(150 150 150 / 0.5);
    cursor: pointer;
}

caption,
header {
    padding: 16px 0 4px 0;
}

header {
    border-bottom: 2px solid rgb(150 150 150 / 0.5);
}

tbody tr:nth-child(even) {
    background-color: rgb(150 150 150 / 0.2);
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr.col-1:nth-child(even) td {
    background-color: #e0e0e0;
}

tbody tr.col-1:nth-child(odd) td {
    background-color: #f9f9f9;
}